In [11]:
#Load libraries
import os
import pandas as pd
import numpy as np
#from fancyimpute import KNN   
import matplotlib.pyplot as plt
from scipy.stats import chi2_contingency
import seaborn as sns
from random import randrange, uniform

ModuleNotFoundError: No module named 'fancyimpute'

In [7]:
#Set working directory
os.chdir("C:/Users/tanma/Desktop/STudy/edwisor/part 3")

In [9]:
#Load data
marketing_train = pd.read_csv("marketing_tr.csv")
marketing_train

,custAge,profession,marital,schooling,default,housing,loan,contact,month,day_of_week,...,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,pmonths,pastEmail,responded
0,55.0,admin.,single,university.degree,unknown,no,no,cellular,nov,mon,...,0,nonexistent,-0.1,93.200,-42.0,4.191,5195.8,999.0,0,no
1,NaN,blue-collar,married,NaN,no,no,no,cellular,jul,mon,...,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,999.0,0,no
2,42.0,technician,married,high.school,no,no,no,telephone,may,mon,...,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,999.0,0,no
3,55.0,management,divorced,NaN,unknown,yes,yes,cellular,jul,wed,...,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,999.0,0,no
4,NaN,admin.,divorced,university.degree,no,yes,no,cellular,may,tue,...,1,failure,-1.8,92.893,-46.2,1.291,5099.1,999.0,1,no
5,47.0,blue-collar,married,basic.4y,no,yes,no,telephone,may,fri,...,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,999.0,0,no
6,35.0,services,single,NaN,no,yes,no,telephone,may,tue,...,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,999.0,0,yes
7,NaN,services,married,high.school,no,yes,no,telephone,may,wed,...,0,nonexistent,1.1,93.994,-36.4,4.856,5191.0,999.0,0,no
8,28.0,unemployed,married,basic.9y,no,yes,no,cellular,may,fri,...,0,nonexistent,-1.8,92.893,-46.2,1.313,5099.1,999.0,0,no
9,46.0,blue-collar,married,basic.9y,no,yes,no,cellular,nov,mon,...,1,failure,-0.1,93.200,-42.0,4.191,5195.8,999.0,0,no
10,NaN,admin.,married,NaN,no,yes,no,cellular,aug,mon,...,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,999.0,0,no
11,41.0,blue-collar,married,basic.4y,no,yes,no,cellular,jul,mon,...,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,999.0,0,no
12,35.0,admin.,single,university.degree,no,no,no,cellular,jul,fri,...,0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,999.0,0,no
13,49.0,blue-collar,married,high.school,unknown,yes,no,cellular,aug,thu,...,0,nonexistent,1.4,93.444,-36.1,4.963,5228.1,999.0,0,no
14,NaN,housemaid,married,university.degree,unknown,no,no,cellular,nov,tue,...,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,999.0,0,no
15,40.0,services,married,NaN,unknown,no,no,cellular,nov,tue,...,0,nonexistent,-0.1,93.200,-42.0,4.153,5195.8,999.0,0,no
16,32.0,unknown,single,professional.course,no,no,no,cellular,jul,thu,...,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,999.0,0,yes
17,46.0,blue-collar,married,basic.9y,unknown,yes,no,cellular,apr,mon,...,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,999.0,0,no
18,NaN,technician,single,professional.course,no,yes,yes,cellular,aug,fri,...,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,999.0,0,no
19,34.0,services,single,NaN,no,no,no,cellular,jul,thu,...,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,999.0,0,no
20,38.0,admin.,married,university.degree,no,yes,no,cellular,may,wed,...,1,failure,-1.8,92.893,-46.2,1.281,5099.1,999.0,1,no
21,32.0,admin.,married,NaN,no,no,no,cellular,may,thu,...,1,success,-1.8,92.893,-46.2,1.327,5099.1,0.2,1,yes
22,31.0,admin.,married,university.degree,no,yes,no,telephone,may,tue,...,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,999.0,0,no
23,26.0,admin.,married,NaN,no,no,no,telephone,jun,wed,...,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,999.0,0,no
24,28.0,blue-collar,single,basic.4y,no,yes,no,cellular,may,NaN,...,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,999.0,0,no
25,30.0,self-employed,married,NaN,no,no,no,cellular,jul,thu,...,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,999.0,0,no
26,NaN,admin.,married,university.degree,no,no,no,cellular,mar,fri,...,1,failure,-1.8,93.369,-34.8,0.649,5008.7,999.0,3,no
27,NaN,management,married,university.degree,no,no,no,telephone,apr,wed,...,0,nonexistent,-1.8,93.075,-47.1,1.415,5099.1,999.0,0,no
28,47.0,technician,married,NaN,no,yes,no,cellular,jul,mon,...,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,999.0,0,no
29,37.0,blue-collar,single,NaN,no,no,no,telephone,jun,NaN,...,0,nonexistent,1.4,94.465,-41.8,4.864,5228.1,999.0,0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7384,46.0,admin.,married,professional.course,no,no,no,cellular,jul,fri,...,0,nonexistent,1.4,93.918,-42.7,4.962,5228.1,999.0,0,no
7385,42.0,technician,single,basic.9y,unknown,no,no,telephone,jun,mon,...,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1,999.0,0,no
7386,NaN,blue-collar,single,NaN,no,no,no,cellular,apr,thu,...,0,nonexistent,-1.8,93.075,-47.1,1.410,5099.1,999.0,0,no
7387,46.0,services,married,NaN,no,no,yes,cellular,jul,mon,...,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,999.0,0,no
7388,NaN,services,married,basic.6y,no,yes,no,cellular,apr,fri,...,0,nonexistent,-1.8,93.075,-47.1,1.479,5099.1,999.0,0,no
7389,39.0,admin.,married,university.degree,no,no,no,telephone,may,fri,...,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,999.0,0,no
7390,44.0,admin.,single,NaN,no,yes,no,cellular,apr,fri,...,0,nonexistent,-1.8,93.075,-47.1,1.405,5099.1,999.0,0,no
7391,33.0,blue-collar,divorced,basic.6y,unknown,yes,no,telephone,may,thu,...,0,nonexistent,1.1,93.994,-36.4,4.855,5191.0,999.0,0,no
7392,29.0,blue-collar,married,basic.9y,no,yes,no,cellular,may,fri,...,0,nonexistent,-1.8,92.893,-46.2,1.250,5099.1,999.0,0,no
7393,28.0,services,married,high.school,no,no,no,cellular,jul,wed,...,0,nonexistent,1.4,93.918,-42.7,4.957,5228.1,999.0,0,no
7394,NaN,services,married,high.school,unknown,yes,no,cellular,jul,mon,...,0,nonexistent,1.4,93.918,-42.7,4.960,5228.1,999.0,0,no
7395,28.0,blue-collar,married,high.school,no,no,yes,telephone,may,mon,...,0,nonexistent,-1.8,92.893,-46.2,1.244,5099.1,999.0,0,no
7396,44.0,technician,married,NaN,no,yes,no,cellular,may,fri,...,0,nonexistent,-1.8,92.893,-46.2,1.259,5099.1,999.0,0,no
7397,31.0,admin.,single,NaN,no,yes,no,cellular,may,thu,...,0,nonexistent,-1.8,92.893,-46.2,1.266,5099.1,999.0,0,yes
7398,NaN,blue-collar,single,basic.4y,no,no,no,telephone,jun,mon,...,0,nonexistent,1.4,94.465,-41.8,4.961,5228.1,999.0,0,no
7399,NaN,management,married,university.degree,no,yes,no,cellular,aug,wed,...,0,nonexistent,1.4,93.444,-36.1,4.964,5228.1,999.0,0,no
7400,62.0,retired,married,professional.course,no,yes,no,cellular,aug,tue,...,1,success,-2.9,92.201,-31.4,0.838,5076.2,0.2,4,yes
7401,NaN,self-employed,single,university.degree,no,yes,no,cellular,jul,tue,...,0,nonexistent,-2.9,92.469,-33.6,1.044,5076.2,999.0,0,no
7402,57.0,admin.,single,university.degree,unknown,yes,no,cellular,aug,wed,...,0,nonexistent,1.4,93.444,-36.1,4.965,5228.1,999.0,0,yes
7403,30.0,unknown,married,university.degree,no,yes,no,cellular,aug,tue,...,0,nonexistent,1.4,93.444,-36.1,4.968,5228.1,999.0,0,no
7404,56.0,retired,married,NaN,no,yes,yes,cellular,aug,tue,...,2,success,-2.9,92.201,-31.4,0.883,5076.2,0.1,4,no
7405,57.0,unknown,married,NaN,unknown,yes,no,cellular,aug,mon,...,0,nonexistent,1.4,93.444,-36.1,4.970,5228.1,999.0,0,no
7406,26.0,blue-collar,married,NaN,no,no,no,cellular,jul,wed,...,0,nonexistent,1.4,93.918,-42.7,4.963,5228.1,999.0,0,no
7407,37.0,blue-collar,married,basic.4y,no,yes,no,cellular,nov,thu,...,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,999.0,0,no
7408,35.0,admin.,married,NaN,no,yes,no,cellular,may,mon,...,0,nonexistent,-1.8,92.893,-46.2,1.354,5099.1,999.0,0,no
7409,33.0,blue-collar,single,high.school,no,no,no,telephone,may,wed,...,0,nonexistent,1.1,93.994,-36.4,4.859,5191.0,999.0,0,no
7410,45.0,blue-collar,married,basic.4y,unknown,no,no,telephone,jul,tue,...,0,nonexistent,1.4,93.918,-42.7,4.961,5228.1,999.0,0,no
7411,27.0,blue-collar,single,NaN,no,no,no,cellular,may,fri,...,1,failure,-1.8,92.893,-46.2,1.250,5099.1,999.0,3,no
7412,51.0,unemployed,divorced,high.school,unknown,yes,no,cellular,nov,thu,...,0,nonexistent,-0.1,93.200,-42.0,4.076,5195.8,999.0,0,no
7413,38.0,blue-collar,married,high.school,no,yes,no,telephone,may,fri,...,0,nonexistent,1.1,93.994,-36.4,4.864,5191.0,999.0,0,no

In [ ]:
#Exploratory Data Analysis
marketing_train['schooling'] = marketing_train['schooling'].replace("illiterate", "unknown")
marketing_train['schooling'] = marketing_train['schooling'].replace(["basic.4y","basic.6y","basic.9y","high.school","professional.course"], "high.school")
marketing_train['default'] = marketing_train['default'].replace("yes", "unknown")
marketing_train['marital'] = marketing_train['marital'].replace("unknown", "married")
marketing_train['month'] = marketing_train['month'].replace(["sep","oct","mar","dec"], "dec")
marketing_train['month'] = marketing_train['month'].replace(["aug","jul","jun","may","nov"], "jun")
marketing_train['loan'] = marketing_train['loan'].replace("unknown", "no")
marketing_train['profession'] = marketing_train['profession'].replace(["management","unknown","unemployed","admin."], "admin.")
marketing_train['profession'] = marketing_train['profession'].replace(["blue-collar","housemaid","services","self-employed","entrepreneur","technician"], "blue-collar")

In [13]:
missing_val = pd.DataFrame(marketing_train.isnull().sum())
missing_val

                   0
custAge         1804
profession         0
marital            0
schooling       2155
default            0
housing            0
loan               0
contact            0
month              0
day_of_week      711
campaign           0
pdays              0
previous           0
poutcome           0
emp.var.rate       0
cons.price.idx     0
cons.conf.idx      0
euribor3m          0
nr.employed        0
pmonths            0
pastEmail          0
responded          0

## Missing Value Analysis

In [ ]:
#Create dataframe with missing percentage
missing_val = pd.DataFrame(marketing_train.isnull().sum())

#Reset index
missing_val = missing_val.reset_index()

#Rename variable
missing_val = missing_val.rename(columns = {'index': 'Variables', 0: 'Missing_percentage'})

#Calculate percentage
missing_val['Missing_percentage'] = (missing_val['Missing_percentage']/len(marketing_train))*100

#descending order
missing_val = missing_val.sort_values('Missing_percentage', ascending = False).reset_index(drop = True)

#save output results 
missing_val.to_csv("Miising_perc.csv", inex = False)

In [ ]:
#imputation method
#Actual value = 29
#Mean = 40.01
#Median = 38
#KNN = 29.35

#create missing value
#marketing_train['custAge'].loc[70] = np.nan

In [ ]:
#Impute with mean
#marketing_train['custAge'] = marketing_train['custAge'].fillna(marketing_train['custAge'].mean())

#Impute with median
#marketing_train['custAge'] = marketing_train['custAge'].fillna(marketing_train['custAge'].median())

In [ ]:
#KNN imputation
#Assigning levels to the categories
lis = []
for i in range(0, marketing_train.shape[1]):
    #print(i)
    if(marketing_train.iloc[:,i].dtypes == 'object'):
        marketing_train.iloc[:,i] = pd.Categorical(marketing_train.iloc[:,i])
        #print(marketing_train[[i]])
        marketing_train.iloc[:,i] = marketing_train.iloc[:,i].cat.codes 
        marketing_train.iloc[:,i] = marketing_train.iloc[:,i].astype('object')
        
        lis.append(marketing_train.columns[i])

In [ ]:
#replace -1 with NA to impute
for i in range(0, marketing_train.shape[1]):
    marketing_train.iloc[:,i] = marketing_train.iloc[:,i].replace(-1, np.nan)

In [ ]:
#Apply KNN imputation algorithm
marketing_train = pd.DataFrame(KNN(k = 3).complete(marketing_train), columns = marketing_train.columns)

In [ ]:
#Convert into proper datatypes
for i in lis:
    marketing_train.loc[:,i] = marketing_train.loc[:,i].round()
    marketing_train.loc[:,i] = marketing_train.loc[:,i].astype('object')

## Outlier Analysis

In [ ]:
#df = marketing_train.copy()
#marketing_train = df.copy()

In [ ]:
# #Plot boxplot to visualize Outliers
# %matplotlib inline  
# plt.boxplot(marketing_train['custAge'])

In [ ]:
#save numeric names
cnames =  ["custAge", "campaign", "pdays", "previous", "emp.var.rate", "cons.price.idx", "cons.conf.idx", "euribor3m",
           "nr.employed", "pmonths", "pastEmail"]

In [ ]:
# #Detect and delete outliers from data
# for i in cnames:
#     print(i)
#     q75, q25 = np.percentile(marketing_train.loc[:,i], [75 ,25])
#     iqr = q75 - q25

#     min = q25 - (iqr*1.5)
#     max = q75 + (iqr*1.5)
#     print(min)
#     print(max)
    
#     marketing_train = marketing_train.drop(marketing_train[marketing_train.loc[:,i] < min].index)
#     marketing_train = marketing_train.drop(marketing_train[marketing_train.loc[:,i] > max].index)

In [ ]:
#Detect and replace with NA
# #Extract quartiles
# q75, q25 = np.percentile(marketing_train['custAge'], [75 ,25])

# #Calculate IQR
# iqr = q75 - q25

# #Calculate inner and outer fence
# minimum = q25 - (iqr*1.5)
# maximum = q75 + (iqr*1.5)

# #Replace with NA
# marketing_train.loc[marketing_train['custAge'] < minimum,:'custAge'] = np.nan
# marketing_train.loc[marketing_train['custAge'] > maximum,:'custAge'] = np.nan

# #Calculate missing value
# missing_val = pd.DataFrame(marketing_train.isnull().sum())

# #Impute with KNN
# marketing_train = pd.DataFrame(KNN(k = 3).complete(marketing_train), columns = marketing_train.columns)

## Feature Selection

In [ ]:
##Correlation analysis
#Correlation plot
df_corr = marketing_train.loc[:,cnames]

In [ ]:
#Set the width and hieght of the plot
f, ax = plt.subplots(figsize=(7, 5))

#Generate correlation matrix
corr = df_corr.corr()

#Plot using seaborn library
sns.heatmap(corr, mask=np.zeros_like(corr, dtype=np.bool), cmap=sns.diverging_palette(220, 10, as_cmap=True),
            square=True, ax=ax)

In [ ]:
#Chisquare test of independence
#Save categorical variables
cat_names = ["profession", "marital", "schooling", "default", "housing", "loan", "contact", "month", "day_of_week", "poutcome"]

In [ ]:
#loop for chi square values
for i in cat_names:
    print(i)
    chi2, p, dof, ex = chi2_contingency(pd.crosstab(marketing_train['responded'], marketing_train[i]))
    print(p)

In [ ]:
marketing_train = marketing_train.drop(['pdays', 'emp.var.rate', 'day_of_week', 'loan', 'housing'], axis=1)

## Feature Scaling

In [ ]:
#df = marketing_train.copy()
#marketing_train = df.copy()

In [ ]:
#Normality check
%matplotlib inline  
plt.hist(marketing_train['campaign'], bins='auto')

In [ ]:
cnames = ["custAge","campaign","previous","cons.price.idx","cons.conf.idx","euribor3m","nr.employed",
           "pmonths","pastEmail"]

In [ ]:
#Nomalisation
for i in cnames:
    print(i)
    marketing_train[i] = (marketing_train[i] - min(marketing_train[i]))/(max(marketing_train[i]) - min(marketing_train[i]))

In [ ]:
# #Standarisation
# for i in cnames:
#     print(i)
#     marketing_train[i] = (marketing_train[i] - marketing_train[i].mean())/marketing_train[i].std()

## Sampling Techniques

In [ ]:
##Simple random sampling
#Sim_Sampling = marketing_train.sample(5000)

In [ ]:
# ##Systematic Sampling
# #Calculate the K value
# k = len(marketing_train)/3500

# # Generate a random number using simple random sampling
# RandNum = randrange(0, 5)

# #select Kth observation starting from RandNum
# Sys_Sampling = marketing_train.iloc[RandNum::k, :]

In [ ]:
# #Stratified sampling
# from sklearn.cross_validation import train_test_split

# #Select categorical variable
# y = marketing_train['profession']

#select subset using stratified Sampling
#Rest, Sample = train_test_split(marketing_train, test_size = 0.6, stratify = y)

In [ ]:
#marketing_train = pd.read_csv("marketing_train_Model.csv")

## Model Development

In [ ]:
#Import Libraries for decision tree
from sklearn import tree
from sklearn.metrics import accuracy_score
from sklearn.cross_validation import train_test_split

In [ ]:
#replace target categories with Yes or No
marketing_train['responded'] = marketing_train['responded'].replace(0, 'No')
marketing_train['responded'] = marketing_train['responded'].replace(1, 'Yes')

In [ ]:
#Divide data into train and test
X = marketing_train.values[:, 0:16]
Y = marketing_train.values[:,16]

X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size = 0.2)

In [ ]:
#Decision Tree
C50_model = tree.DecisionTreeClassifier(criterion='entropy').fit(X_train, y_train)

#predict new test cases
C50_Predictions = C50_model.predict(X_test)

#Create dot file to visualise tree  #http://webgraphviz.com/
# dotfile = open("pt.dot", 'w')
# df = tree.export_graphviz(C50_model, out_file=dotfile, feature_names = marketing_train.columns)

In [ ]:
#build confusion matrix
# from sklearn.metrics import confusion_matrix 
# CM = confusion_matrix(y_test, y_pred)
CM = pd.crosstab(y_test, C50_Predictions)

#let us save TP, TN, FP, FN
TN = CM.iloc[0,0]
FN = CM.iloc[1,0]
TP = CM.iloc[1,1]
FP = CM.iloc[0,1]

#check accuracy of model
#accuracy_score(y_test, y_pred)*100
((TP+TN)*100)/(TP+TN+FP+FN)

#False Negative rate 
#(FN*100)/(FN+TP)

#Results
#Accuracy: 84.49
#FNR: 63

In [ ]:
#Random Forest
from sklearn.ensemble import RandomForestClassifier

RF_model = RandomForestClassifier(n_estimators = 20).fit(X_train, y_train)

In [ ]:
RF_Predictions = RF_model.predict(X_test)

In [ ]:
#build confusion matrix
# from sklearn.metrics import confusion_matrix 
# CM = confusion_matrix(y_test, y_pred)
CM = pd.crosstab(y_test, RF_Predictions)

#let us save TP, TN, FP, FN
TN = CM.iloc[0,0]
FN = CM.iloc[1,0]
TP = CM.iloc[1,1]
FP = CM.iloc[0,1]

#check accuracy of model
#accuracy_score(y_test, y_pred)*100
((TP+TN)*100)/(TP+TN+FP+FN)

#False Negative rate 
#(FN*100)/(FN+TP)

#Accuracy: 88
#FNR: 67

In [ ]:
#Let us prepare data for logistic regression
#replace target categories with Yes or No
marketing_train['responded'] = marketing_train['responded'].replace('No', 0)
marketing_train['responded'] = marketing_train['responded'].replace('Yes', 1)

In [ ]:
#Create logistic data. Save target variable first
marketing_train_logit = pd.DataFrame(marketing_train['responded'])

In [ ]:
#Add continous variables
marketing_train_logit = marketing_train_logit.join(marketing_train[cnames])

In [ ]:
marketing_train_logit.head()

In [ ]:
##Create dummies for categorical variables
cat_names = ["profession", "marital", "schooling", "default", "contact", "month", "poutcome"]

for i in cat_names:
    temp = pd.get_dummies(marketing_train[i], prefix = i)
    marketing_train_logit = marketing_train_logit.join(temp)

In [ ]:
Sample_Index = np.random.rand(len(marketing_train_logit)) < 0.8

train = marketing_train_logit[Sample_Index]
test = marketing_train_logit[~Sample_Index]

In [ ]:
#select column indexes for independent variables
train_cols = train.columns[1:30]

In [ ]:
#Built Logistic Regression
import statsmodels.api as sm

logit = sm.Logit(train['responded'], train[train_cols]).fit()

logit.summary()

In [ ]:
#Predict test data
test['Actual_prob'] = logit.predict(test[train_cols])

test['ActualVal'] = 1
test.loc[test.Actual_prob < 0.5, 'ActualVal'] = 0

In [ ]:
#Build confusion matrix
CM = pd.crosstab(test['responded'], test['ActualVal'])

#let us save TP, TN, FP, FN
TN = CM.iloc[0,0]
FN = CM.iloc[1,0]
TP = CM.iloc[1,1]
FP = CM.iloc[0,1]

#check accuracy of model
#accuracy_score(y_test, y_pred)*100
((TP+TN)*100)/(TP+TN+FP+FN)

(FN*100)/(FN+TP)

In [ ]:
#Accuracy: 90
#FNR: 74

In [ ]:
#KNN implementation
from sklearn.neighbors import KNeighborsClassifier

KNN_model = KNeighborsClassifier(n_neighbors = 9).fit(X_train, y_train)

In [ ]:
#predict test cases
KNN_Predictions = KNN_model.predict(X_test)

In [ ]:
#build confusion matrix
CM = pd.crosstab(y_test, KNN_Predictions)

#let us save TP, TN, FP, FN
TN = CM.iloc[0,0]
FN = CM.iloc[1,0]
TP = CM.iloc[1,1]
FP = CM.iloc[0,1]

#check accuracy of model
#accuracy_score(y_test, y_pred)*100
((TP+TN)*100)/(TP+TN+FP+FN)

#False Negative rate 
(FN*100)/(FN+TP)

#Accuracy: 89
#FNR: 76

In [ ]:
#Naive Bayes
from sklearn.naive_bayes import GaussianNB

#Naive Bayes implementation
NB_model = GaussianNB().fit(X_train, y_train)

In [ ]:
#predict test cases
NB_Predictions = NB_model.predict(X_test)

In [ ]:
#Build confusion matrix
CM = pd.crosstab(y_test, NB_Predictions)

#let us save TP, TN, FP, FN
TN = CM.iloc[0,0]
FN = CM.iloc[1,0]
TP = CM.iloc[1,1]
FP = CM.iloc[0,1]

#check accuracy of model
#accuracy_score(y_test, y_pred)*100
#((TP+TN)*100)/(TP+TN+FP+FN)

#False Negative rate 
(FN*100)/(FN+TP)

#Accuracy: 81
#FNR: 40

## Cluster Analysis

In [ ]:
#Load data
df = pd.read_csv("df.csv")

In [ ]:
#Load required libraries
from sklearn.cluster import KMeans

#Estimate optimum number of clusters
cluster_range = range( 1, 20 )
cluster_errors = []

for num_clusters in cluster_range:
    clusters = KMeans(num_clusters).fit(df.iloc[:,0:4])
    cluster_errors.append(clusters.inertia_)
    
#Create dataframe with cluster errors
clusters_df = pd.DataFrame( { "num_clusters":cluster_range, "cluster_errors": cluster_errors } )

In [ ]:
#Plot line chart to visualise number of clusters
%matplotlib inline  
plt.figure(figsize=(12,6))
plt.plot( clusters_df.num_clusters, clusters_df.cluster_errors, marker = "o" )

In [ ]:
#Implement kmeans
kmeans_model = KMeans(n_clusters = 3).fit(df.iloc[:,0:4])

In [ ]:
#Summarize output
pd.crosstab(df['Species'], kmeans_model.labels_)

In [ ]:
cluster_range = range( 1, 20 )
cluster_errors = []

for num_clusters in cluster_range:
    clusters = KMeans( num_clusters )
    clusters.fit( df.iloc[:,0:4] )
    cluster_errors.append( clusters.inertia_ )

In [ ]:
clusters_df = pd.DataFrame( { "num_clusters":cluster_range, "cluster_errors": cluster_errors } )

In [ ]:
%matplotlib inline  

plt.figure(figsize=(12,6))
plt.plot( clusters_df.num_clusters, clusters_df.cluster_errors, marker = "o" )